apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: mikrotik-credentials
  namespace: external-dns
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: mikrotik-credentials
    creationPolicy: Owner
  data:
  - secretKey: baseurl
    remoteRef:
      key: mikrotik/creds
      property: baseurl
  - secretKey: username
    remoteRef:
      key: mikrotik/creds
      property: username
  - secretKey: password
    remoteRef:
      key: mikrotik/creds
      property: password
  - secretKey: skip_tls_verify
    remoteRef:
      key: mikrotik/creds
      property: skip_tls_verify
