apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
    name: mikrotik-credentials
    namespace: external-dns
spec:
    refreshInterval: 1h
    secretStoreRef:
        name: vault-backend
        kind: ClusterSecretStore
    target:
        name: mikrotik-credentials
    data:
        - secretKey: MIKROTIK_BASEURL
          remoteRef:
              key: external-dns/mikrotik
              property: baseurl
        - secretKey: MIKROTIK_USERNAME
          remoteRef:
              key: external-dns/mikrotik
              property: username
        - secretKey: MIKROTIK_PASSWORD
          remoteRef:
              key: external-dns/mikrotik
              property: password
        - secretKey: MIKROTIK_SKIP_TLS_VERIFY
          remoteRef:
              key: external-dns/mikrotik
              property: skip_tls_verify
