apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cert-manager-config
  namespace: flux-system
spec:
  dependsOn:
    - name: cert-manager
  path: ./cluster/core/cert-manager/config
  prune: true
  interval: 5m
  sourceRef:
    kind: GitRepository
    name: flux-system
