---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
    name: firefly-secrets
    namespace: firefly
spec:
    refreshInterval: 1h
    secretStoreRef:
        name: vault-backend
        kind: ClusterSecretStore
    target:
        name: firefly-secrets
        creationPolicy: Owner
        template:
            engineVersion: v2
            data:
                APP_KEY: "base64:{{ .app_key }}"
                DB_PASSWORD: "{{ .db_password }}"
    data:
        - secretKey: app_key
          remoteRef:
              key: kv/firefly/secrets
              property: app_key
        - secretKey: db_password
          remoteRef:
              key: kv/firefly/db
              property: password
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
    name: firefly-postgres-credentials
    namespace: firefly
spec:
    refreshInterval: 1h
    secretStoreRef:
        name: vault-backend
        kind: ClusterSecretStore
    target:
        name: firefly-postgres-credentials
        creationPolicy: Owner
        template:
            engineVersion: v2
            data:
                username: "firefly"
                password: "{{ .password }}"
    data:
        - secretKey: password
          remoteRef:
              key: kv/firefly/db
              property: password
