---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: firefly-data
    namespace: firefly
spec:
    accessModes:
        - ReadWriteOnce
    storageClassName: nfs-csi
    resources:
        requests:
            storage: 5Gi
