---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
    name: authentik-secrets
    namespace: authentik
spec:
    refreshInterval: 1h
    secretStoreRef:
        name: vault-backend
        kind: ClusterSecretStore
    target:
        name: authentik-secrets
        creationPolicy: Owner
        template:
            engineVersion: v2
            data:
                secret_key: "{{ .secret_key }}"
                db_password: "{{ .db_password }}"
    data:
        - secretKey: secret_key
          remoteRef:
              key: kv/authentik/secrets
              property: secret_key
        - secretKey: db_password
          remoteRef:
              key: kv/authentik/db
              property: password
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
    name: authentik-postgres-credentials
    namespace: authentik
spec:
    refreshInterval: 1h
    secretStoreRef:
        name: vault-backend
        kind: ClusterSecretStore
    target:
        name: authentik-postgres-credentials
        creationPolicy: Owner
        template:
            engineVersion: v2
            data:
                username: "authentik"
                password: "{{ .password }}"
    data:
        - secretKey: password
          remoteRef:
              key: kv/authentik/db
              property: password
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
    name: authentik-admin-credentials
    namespace: authentik
spec:
    refreshInterval: 1h
    secretStoreRef:
        name: vault-backend
        kind: ClusterSecretStore
    target:
        name: authentik-admin-credentials
        creationPolicy: Owner
    data:
        - secretKey: password
          remoteRef:
              key: kv/authentik/admin
              property: password