---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
    name: authentik
    namespace: authentik
spec:
    hostnames:
        - auth.k8s.home.lab
    parentRefs:
        - group: gateway.networking.k8s.io
          kind: Gateway
          name: main-gateway
          namespace: gateway
    rules:
        - backendRefs:
              - group: ""
                kind: Service
                name: authentik-server
                port: 80
                weight: 1
          matches:
              - path:
                    type: PathPrefix
                    value: /
