apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: monitoring-secrets
  namespace: monitoring
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: monitoring-secrets
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        admin_password: "{{ .admin_password }}"
  data:
  - secretKey: admin_password
    remoteRef:
      key: monitoring/grafana
      property: password
