apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: smb-credentials
  namespace: storage
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: smb-credentials
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        username: "{{ .username }}"
        password: "{{ .password }}"
  data:
  - secretKey: username
    remoteRef:
      key: smb/creds
      property: username
  - secretKey: password
    remoteRef:
      key: smb/creds
      property: password
