---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: syncthing-config
    namespace: syncthing
spec:
    accessModes:
        - ReadWriteOnce
    storageClassName: nfs-csi
    resources:
        requests:
            storage: 1Gi