---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: jellyfin-media-nfs
    namespace: jellyfin
spec:
    accessModes:
        - ReadWriteMany
    storageClassName: nfs-csi
    resources:
        requests:
            storage: 1Gi
