---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
    name: qbittorrent-secrets
    namespace: qbittorrent
spec:
    refreshInterval: 1h
    secretStoreRef:
        name: vault-backend
        kind: ClusterSecretStore
    target:
        name: qbittorrent-secrets
        creationPolicy: Owner
        template:
            engineVersion: v2
            data:
                admin_password: "{{ .admin_password }}"
    data:
        - secretKey: admin_password
          remoteRef:
              key: kv/qbittorrent/secrets
              property: admin_password