---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: qbittorrent-config
    namespace: qbittorrent
spec:
    accessModes:
        - ReadWriteOnce
    storageClassName: nfs-csi
    resources:
        requests:
            storage: 1Gi